.featured-brands {
    margin: 0 auto;
    text-align: center;
    padding-top: 3.5em;
}

.brands-carousel {
    padding-top: 1.8em;

    &__buttons {
        padding-top: 1.8em;
    }

    &__img {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        align-items: center;
        background: #fff;
        // border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 17vw;
        -webkit-justify-content: center;
        justify-content: center;
        margin: 0 auto 15px;
        max-height: 190px;
        max-width: 190px;
        -webkit-transition: background .15s, -webkit-transform .15s, -webkit-box-shadow .15s;
        transition: background .15s, -webkit-transform .15s, -webkit-box-shadow .15s;
        -o-transition: transform .15s, box-shadow .15s, background .15s;
        transition: transform .15s, box-shadow .15s, background .15s;
        transition: transform .15s, box-shadow .15s, background .15s, -webkit-transform .15s, -webkit-box-shadow .15s;
        width: 17vw;

        &:hover {
            background: #fff;
            -webkit-transform: scale(1.10);
            -ms-transform: scale(1.10);
            transform: scale(1.10);
            filter: opacity(0.73);
        }

    }
}