.text-button {
  &__slide-1 {
    position: relative;
    color: $button-text-color;
    font-size: 16px;
    border: none;
    clear: both;
    display: initial;
    font-weight: bold;
    max-width: 200px;
    min-width: 184px;
    padding: 15px 0;
    text-align: center;
    bottom: 8rem;
    border-radius: 7px;
    left: 18ex;
    background: $button-background-color;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      background: $button-background-color-hover;
      border-radius: 50px;
    }
  }
  &__slide-2 {
    position: relative;
    color: $button-text-color;
    font-size: 16px;
    border: none;
    clear: both;
    display: initial;
    font-weight: bold;
    max-width: 200px;
    min-width: 184px;
    padding: 15px 0;
    text-align: center;
    bottom: 8rem;
    border-radius: 7px;
    left: 30.5ex;
    background: $button-background-color;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      background: $button-background-color-hover;
      border-radius: 50px;
    }
  }
  &__slide-3 {
    position: relative;
    color: $button-text-color;
    font-size: 16px;
    border: none;
    clear: both;
    display: initial;
    font-weight: bold;
    max-width: 200px;
    min-width: 184px;
    padding: 15px 0;
    text-align: center;
    bottom: 8rem;
    border-radius: 7px;
    left: 30.5ex;
    background: $button-background-color;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      background: $button-background-color-hover;
      border-radius: 50px;
    }
  }

}