.navbar-menu-color {
  background-color: #1b1b1b;
  transition: 0.3s;
}

.navbar-return {
  background: rgb(34, 34, 34);
  background: linear-gradient(180deg,
      rgba(34, 34, 34, 1) 0%,
      rgba(34, 34, 34, 0.09877454399728647) 100%);
  transition: 0.3s;
}

.logo-nav-top {
  width: 10.5%;
  transition: 0.3s;
}

.logo-nav {
  width: 6.5%;
  transition: 0.3s;
}

.nav-menu-bar {
  background-color: $nav-menu-bar;
  -webkit-box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.33);
  .nav-link {
    color: aliceblue;

    &:hover {
      color: rgb(137, 200, 255);
    }
  }
}