.footer-newsletter {
    background-color: $footer-newsletter-bar;

    &__content {
        padding: 1.68em;
    }
}

.newsletter-suscribe-button {
    padding: 0.375rem 0.75rem;
    background: $button-background-color;
    color: $button-text-color;
    border: none;
    border-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    width: 6.6em;
    &:hover {
        background: $button-background-color-hover;
    }
}