$slide-text-color: whitesmoke;
$button-text-color: white;
$button-text-color-hover: rgb(156, 156, 156);
$button-slide-color: white;
$button-slide-color-hover: rgb(156, 156, 156);

$register-text-color: whitesmoke;
