$button-text-color: whitesmoke;
$button-background-color: rgb(37, 37, 37);
$button-background-color-hover: rgb(87, 87, 87);

$register-text-color: whitesmoke;
$nav-menu-bar: rgb(58, 58, 58);
$footer-newsletter-bar: rgb(114, 114, 114);
