//colors
@import "../scss/colors.scss";

//components
@import "../components/Slider/slider-style.scss";
@import "../components/Navbar/navbar-style.scss";
@import "../components/MyAccount/myaccount-style.scss";
@import "../components/Index/Ads/ads.scss";
@import "../components/Index/Popular-Items/pop-items.scss";