//colors
@import "../scss/colors.scss";

//components
@import "../components/Slider/slider-style.scss";
@import "../components/Navbar/navbar-style.scss";
@import "../components/MyAccount/myaccount-style.scss";
@import "../components/Index/Ads/ads.scss";
@import "../components/Index/Popular-Items/pop-items.scss";
@import "../components/Index/Featured-Brands/fetured-brands.scss";
@import "../components/Footer/footer.scss";
@import "../components/MyAccount/UserAccount/Account-Info/account-info.scss";