.value-ads {
    text-align: center;
    padding: 0 10px;

    &__links {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 8.5ex;
        justify-content: center;
    }

    a:link,
    a:visited {
        border: 2px solid #eeebe7;
        border-radius: 6px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #424242;
        display: inline-block;
        font-size: .75rem;
        margin: 0 5px;
        padding: 45px 25px 35px;
        position: relative;
        text-align: center;
        text-decoration: none;
        -webkit-transition: border .15s, -webkit-box-shadow .15s, -webkit-transform .15s;
        transition: border .15s, -webkit-box-shadow .15s, -webkit-transform .15s;
        -o-transition: box-shadow .15s, border .15s, transform .15s;
        transition: box-shadow .15s, border .15s, transform .15s;
        transition: box-shadow .15s, border .15s, transform .15s, -webkit-box-shadow .15s, -webkit-transform .15s;
        width: 16.66%;
        width: -webkit-calc(16.66% - 10px);
        width: calc(16.66% - 10px);
    }

    &__icon {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        align-items: center;
        background: #fff;
        border: 2px solid #eeebe7;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        left: 50%;
        margin: 0 auto 20px;
        position: absolute;
        top: 0;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        -webkit-transition: border .15s;
        -o-transition: border .15s;
        transition: border .15s;
        height: 85.5px;
        width: 85.5px;
    }

    &__title {
        padding-top: .6em;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        color: #0072ba;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-size: 15px;
        font-weight: 600;
    }

    &__subtitle {
        padding-top: .5em;
    }

    span {
        display: block;
    }

    &__cta {
        bottom: 0;
        color: #0072ba;
        font-size: 14px;
        font-weight: 600;
        left: 0;
        overflow: hidden;
        padding: .5em;
        position: absolute;
        text-align: center;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
        width: 100%;
    }

    .value-ads__links a:active,
    .value-ads__links a:focus,
    .value-ads__links a:hover {
        border: 2px solid #0072ba;
        -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .15);
        box-shadow: 0 10px 40px rgba(0, 0, 0, .15);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    .value-ads__links a:active .value-ads__icon,
    .value-ads__links a:focus .value-ads__icon,
    .value-ads__links a:hover .value-ads__icon {
        border: 2px solid #0072ba
    }

    .value-ads__links a:active .value-ads__cta,
    .value-ads__links a:focus .value-ads__cta,
    .value-ads__links a:hover .value-ads__cta {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1)
    }

}