$nav-bar-color: #1b1b1b;
$button-text-color: whitesmoke;
$button-background-color: rgb(37, 37, 37);
$button-background-color-hover: rgb(87, 87, 87);

$register-text-color: whitesmoke;
$nav-menu-bar: rgb(58, 58, 58);
$footer-newsletter-bar: rgb(134, 134, 134);

$social-button-color: #dbdbdb;
$social-button-color-hover: #9b9b9b;

$footer-links-font-color: whitesmoke;

$border-style-section: #e7e7e7;

$account-title-color-bar: #5a6e99;
$account-title-icon-color-bar: #485777;
$account-edit-button: #5a6e99;
$account-edit-button-hover: #485777;
$cancel-edit-button: #ad2d3a;
$cancel-edit-button-hover: #7c212a;
$save-edit-button: #198754;
$save-edit-button-hover: #125f3b;
$add-button-hover: #be4b36;
$add-button: #db553d;

$item-link: #45739e;
$item-link-hover: #5792c9;
